
module2/Psychophysics and probabilistic modelling/.ipynb_checkpoints/Psychophysics_and_probabilistic_modelling_ans-checkpoint.ipynb
module0/lif_neuron/.ipynb_checkpoints/lif_neuron-checkpoint.ipynb
module0/lif_neuron/lif_neuron.ipynb
module2/Computational Psychiatry/.ipynb_checkpoints/Computational_psychiatry_ans-checkpoint.ipynb
module2/Model fitting and model comparison/.ipynb_checkpoints/Model_fitting_and_model_comparison_ans-checkpoint.ipynb
module2/Signal detection theory and drift-diffusion modelling/.ipynb_checkpoints/Signal_Detection_Theory_&_Drift_Diffusion_Modelling_ans-checkpoint.ipynb
